Joan Case Study Test Results
All tests need to be created
MT Quiz- Fast Oxidizer / Parasympatheic
MRT- let's pull one from our client files with 3-4 red foods and 20 or more yellow foods
SHP- See test comparison worksheet for exact numbers- Acute Phase, Cortisol Dominant, high estrogen, low progesterone, testosterone, melatonin
GI Map
First page clear
Page 2
No H. Pylori
Normal Flora showing inflammatory pattern with several things high or trending high
Page 3
Opportunistic- 5 or 6 high, prevotella and fusobacterium present under lab range
Candida Albicans high
Page 4
No protozoa or worms
Intestinal Health Markers
Steatocrit- 8
Elastase- 250
b-Glu – High/ 3584
Occult Blood 0
SigA- low 312
Anti-Gliadin- 83
Calprotectin- 91
MWP
Indican- moderate
8 OH dg- high
UBAs- low
MBA
Zonulin- 14.2
Histamine- 1.9
DAO- 7.1
DAO:H ratio: 3.73
