selectedSymptomIds: ADDED
Property name: selectedSymptomIds
Location: const state in fdn-pwa/index.html
Modification made: added selectedSymptomIds: [] to const state
